body {
  margin: 15px;
  text-align: center;
  background-color: #828282;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.weather-card {
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 5vw;
  margin: 0 auto;
  flex: 1;
}

.daily-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 2vw;
  gap: 30px;
}

h2 {
  font-weight: 200;
}

input {
  background-color: #828282;
  border: 2px solid #eee;
  color: #eee;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  transition: all 0.5s;
}

.button:hover {
  background-color: #eee;
  color: #828282;
}